*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}


body{
    background-color: #F5F1EA;
}

header{
    background-color: #EFC36A;
    font-family: 'Boogaloo', cursive;
    text-align: center;
}

section{
    text-align: center;
    padding: 50px;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 18px;
}

h2{
    font-size: 30px;
    padding: 30px;
    font-family: 'Boogaloo', cursive;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

footer {
    background-color: #EFC36A;
    text-align: center;
}

a i:hover {
    border: 2px solid;
    border-radius: 10px;
    font-size: 30px;
    color: black;
    padding: 5px;
    transition: 0.2s;
}

li a:hover {
    border: 1px solid;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    color: black;
    transition: 0.3s;
  }